.A-wrapper{
    display: flex;
    height:95vh;
    
    margin-top: 6.5rem;
    position: relative;
    background-color: var(--purple);
}
.left-A{
    display: flex;
    flex-direction: column;
    position: relative;
    flex:0.6 ;
    gap: 5rem;
    margin-left: 5rem;
    
}
.head{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
   
    
}
.head :nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
}
.head :nth-child(2){
    width: 200px;
    justify-content: end;
    position: absolute;
    right: 0;
    top:7rem;
    border-color: red;
 

}
.head :nth-child(3){
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    font-size: 20px;
}
.head :nth-child(4){
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    font-size: 13px;
}
.button-cv{
    padding:10px;

}
.button-cv:hover{
    cursor: pointer;
    background-color: var(--red);
    border: none;
}
.right-A{
    display: flex;
    flex: 1;
    margin-top: 5rem;
    justify-content: center;
}
.blueback{
    width: 370px;
    height: 350px;
    background-color: var(--blue);
    display: flex;
}
.blueback img{
    width: 280px;
    height: 300px;
    padding-left: 11%;
    padding-top: 6%;
    padding-bottom: 2%;
    
}
.arrows{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap:17rem;
    position: absolute;
    right:13%;
    top:80%;
    cursor: pointer;
   
 
}
